@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.terminal {
    scrollbar-width: none;
}

/* for scrollbar */
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--muted-foreground);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) transparent;
}

.glow-hover {
    position: relative;
    transition: border-color 0.3s ease;
    overflow: hidden;
}

.glow-hover::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: radial-gradient(
        200px circle at var(--x, 50%) var(--y, 50%),
        var(--muted-foreground),
        transparent
    );
}

.glow-hover:hover::before {
    opacity: 1;
}

.glow-hover > * {
    position: relative;
    z-index: 1;
}

.glow-hover::after {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--card);
    border-radius: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/*page transition class */
.exit-animation {
    opacity: 0;
    transform: translateY(-30px);
    filter: blur(8px);
    transition:
        opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
        transform 1s cubic-bezier(0.4, 0, 0.2, 1),
        filter 1s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    will-change: opacity, transform, filter;
}
.enter-animation {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    transition:
        opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
        transform 1s cubic-bezier(0.4, 0, 0.2, 1),
        filter 1s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    will-change: opacity, transform, filter;
}
.github-loader {
    color: var(--heading-text-color);
}

.currentProject::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -50%;
    width: 1%;
    height: 160%;
    transform: skewX(-20deg);
    animation: shineAnimation 2.5s infinite linear;
    pointer-events: none;
    z-index: 1;
    border-radius: inherit;
    filter: blur(4px);
    background: linear-gradient(
        120deg,
        transparent 0%,
        color-mix(in oklch, var(--foreground) 5%, transparent) 20%,
        color-mix(in oklch, var(--foreground) 10%, transparent) 40%,
        color-mix(in oklch, var(--foreground) 8%, transparent) 60%,
        color-mix(in oklch, var(--foreground) 4%, transparent) 80%,
        transparent 100%
    );

    box-shadow:
        0 0 20px 4px color-mix(in oklch, var(--foreground) 6%, transparent),
        0 0 40px 16px color-mix(in oklch, var(--foreground) 4%, transparent),
        0 0 60px 28px color-mix(in oklch, var(--foreground) 2%, transparent);
}

@keyframes shineAnimation {
    0% {
        left: -50%;
    }
    100% {
        left: 150%;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-normral-text-color: var(--normal-text-color);
    --color-heading-text-color: var(--heading-text-color);
    --color-subheading-text-color: var(--subheading-text-color);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklab(97.015% 0 -0.00011);
    --foreground: oklch(0.145 0 0);
    --normal-text-color: oklch(50% 0 0);
    --heading-text-color: #151515;
    --subheading-text-color: #262626;
    --card: oklab(97.015% 0 -0.00011);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(72.3% 0.219 149.579);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(93.1% 0.00011 271.152);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(85.452% 0.0001 271.152);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.1408 0.0044 285.82);
    --foreground: oklch(0.985 0 0);
    --normal-text-color: oklch(60% 0.004 270);
    --heading-text-color: oklch(92.191% 0.0001 271.152);
    --subheading-text-color: oklch(86.995% 0.0001 271.152);
    --card: oklch(20.463% 0.00002 271.152 / 0.969);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary: oklch(79.142% 0.20906 151.683);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: var(--font-figtree);
    }
    /* Apply Jakarta Sans to all headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-jakarta);
    }
    h1 {
        @apply bg-gradient-to-r from-foreground to-muted bg-clip-text text-transparent;
    }
}
