@import "tailwindcss";

body {
  overflow: hidden;
  width: 100%;
  height: auto;
  background: #171717;
}

.terminal {
  scrollbar-width: none;
}

/* for scrollbar */
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d6d6d6 transparent;
}

.glow-hover {
  position: relative;
  transition: border-color 0.3s ease;
  overflow: hidden;
}

.glow-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: radial-gradient(
    200px circle at var(--x, 50%) var(--y, 50%),
    rgba(252, 252, 252, 0.502),
    transparent
  );
}

.glow-hover:hover::before {
  opacity: 1;
}

.glow-hover:hover {
  border-color: transparent;
  box-shadow: 0 0 5px 2px #3636362d;
}

.glow-hover > * {
  position: relative;
  z-index: 1;
}

.glow-hover::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #171717f7;
  border-radius: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*page transition class */
.exit-animation {
  opacity: 0;
  transform: translateY(-30px);
  filter: blur(8px);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
    transform 1s cubic-bezier(0.4, 0, 0.2, 1),
    filter 1s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  will-change: opacity, transform, filter;
}
.enter-animation {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
    transform 1s cubic-bezier(0.4, 0, 0.2, 1),
    filter 1s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  will-change: opacity, transform, filter;
}
