@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Geist;
  src: url(../../public/Fonts/GeistVF.ttf);
}

body {
  color: #000000; /* Light text color */
  overflow: hidden;
  font-family: Geist;
  background:url('../../public/nnnoise.svg') repeat , rgb(255, 255, 255);
  width: 100%;
  height: auto;
}




